.grid{
    display: grid;
}  

body{
    background-color: #FAF9F6;
    margin: 0;
    height: 100vh;
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #005BC3;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  /* Ensure it stays above other content */
    color: white;
}

footer {
    width: 100%;
    background-color: #005BC3;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    border-top: 4px solid black;
}

footer p{
    font-weight: 600;
    font-size:medium;
    text-align: center;
    padding: 10px;
}

h1{
    margin: auto;
    font-weight: 600;
    font-size:x-large;
    text-align: center;
}

h2{
    text-align: center;
}

img{
    width: 90%;
    border-radius: 25px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

input, button, textarea {
    display: block;
    width: 100%;
}

.container {
    width: 300px;
    margin: auto;
    height: 100vh;
}

nav a{
    color: white;
    padding: 10px;
}

footer a{
    color: white;
    padding: 10px;
    size: 30px;
}

.button{
    display: flex;
    justify-content: center;
}

.button button{
    font-size: 16px;
    font-weight: 400;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #005BC3;
    color: white;
}


  